/* Brown */
.text-brown {
    color: #865d48 !important;
}
.bg-brown {
    background-color: #865d48 !important;
}

/* wine red */
.text-darkred {
    color: #c10000 !important;
}
.bg-darkred {
    background-color: #660000 !important;
}

/* pergament */
.text-pergament {
    color: #fcf7cd !important;
}
.bg-pergament {
    background-color: #fcf7cd !important;
}